* {
  font-family: "Montserrat", sans-serif;
}


.updatePassword {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding: 75px;
  width: 500px;
  text-align: right;
  line-height: 35px;
  border-radius: 10px;
  background-color: #f8dabb;
}

.updatePassword input[type="password"]{
  padding: 5px;
  margin:10px;
  border-radius: 5px ;
  border-color: #c4c4c4;
}

.updatePassword input[type="submit"]{
  color: white;
  letter-spacing: 1px;
  background-color: #3680a3;
  border: 3px solid #3680a3;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  width: 40%;
  margin-top: 20px;
  margin-right:30%;
  text-align: center;
}