* {
  /*all elements to inherit same font*/
  font-family: "Montserrat", sans-serif;
}

.p {
  font-size: 20px;
}
.SwipeProfile {
  text-align: center;
  margin: auto;
  position: relative;
}

.profileIntroSection {
  /*coral section that includes other info in smaller font*/
  background-color: #f8dabb;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  width: 20em;
  text-align: center;
  line-height: 35px;
  border-radius: 10px;
}
.profileIntroSection p {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.button {
  text-align: center;
  color: white;
  border-radius: 5px;
  border: 1px white;
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.notInterestedButton {
  /*"no, reject match" button*/
  background-color: #e0786c;
}

.letsTalkButton {
  background-color: #4dadb7;
}

.pageTitle {
  font-size: 30px;
}

.letsTalkButton:hover {
  /*when user hovers over this button, color of button changes*/
  background-color: #4ccbda;
  color: white;
}

.letsTalkButton:focus {
  /*when user selects this button, color of button changes*/
  background-color: #4ccbda;
  color: white;
}

.notInterestedButton:hover {
  background-color: grey;
  color: white;
}

.notInterestedButton:focus {
  background-color: rgb(75, 75, 75);
  color: white;
}
