* {
  font-family: "Montserrat", sans-serif;
}

.Login {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 0%;
  width: 15em;
  text-align: center;
  line-height: 35px;
  color: #e0786c;
}

.logoBanner {
  font-size: 30px;
  font-weight: bold;
}
.Login h1 {
  font-weight: bolder;
}

.Login input[type="password"] {
  background-color: #f2f2f2;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 175px;
  margin: 15px;
  text-align: center;
}

.Login input[type="email"] {
  background-color: #f2f2f2;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 175px;
  text-align: center;
}

.Login input[type="submit"],
input[value="submit"] {
  color: white;
  letter-spacing: 1px;
  background-color: #3680a3;
  border: 3px solid #3680a3;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  width: 175px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
