.Profile label {
  font-size: 16px;
  color: black;
  width: 200px;
  padding-right: 5%;
  text-align: left;
  float: left;
}

.rectangle {
  background-color: #f8dabb;
  margin-left: 0;
  margin-right: auto;
  padding: 2%;
  padding-left: 5%;
  width: 70%;
  min-width: 550px;
  text-align: left;
  line-height: 35px;
  border-radius: 10px;
  font-size: 16px;
}

.Profile {
  text-align: center;
  margin: auto;
  padding: 3%;
}

