

.Login {
    font-family: 'Montserrat', sans-serif;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    padding: 0%;
    width:15em;
    text-align: center;
    line-height: 35px;
    color: #E0786C;
}

.top{
    font-size: 30px;
    font-weight: bold;
}
.Login h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.Login input[type=password] {
    background-color: #F2F2F2;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 175px;
    margin: 15px;
    text-align: center;
}

.Login input[type=email] {
    background-color: #F2F2F2;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 175px;
    text-align: center;
}

.Login input[type=submit], input[value=submit] {
    font-family: 'Montserrat', sans-serif;
    color: white;;
    letter-spacing: 1px;
    background-color: #3680A3;
    border: 3px solid #3680A3;

    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    width: 175px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
