#Matches-header {
  text-align: center;
  margin: auto;
  padding: 20px;
}

.pos-user {
  text-align: center;
  margin: auto;
  display: inline-block;
  border-radius: 2em;
  
}

#Matches-section{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#Matches-congrats {
  text-align: center
}

.Register-link {
  color: #61dafb;
}
