* {
  font-family: 'Montserrat', sans-serif;
}

#Matches-header {
  text-align: center;
  margin: auto;
  padding: 20px;
}

.pos-user {
  text-align: center;
  margin: auto;
  display: inline-block;
  border-radius: 2em;
  
}

#Matches-section{
  background-color: #F8DABB;
  margin-left:auto;
  margin-right:auto;
  margin-top: 2%;
  border-radius: 10px;
  padding:7%;
  width:30em;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e0786c;
}

#Matches-congrats {
  text-align: center;
  color: black;
}

#Matches-none {
  text-align: center;
  color: black;
}

.Register-link {
  color: #61dafb;
}
