* {
  font-family: 'Montserrat', sans-serif;
}

#Matches-header {
  text-align: center;
  margin: auto;
  padding: 20px;
}

.pos-user {
  text-align: center;
  margin: auto;
  padding: 12px; 
  display: block;
  border-radius: 0.2em;
  width: 200px;
  background-color:#F8DABB;
  color: white;
  border: 1px white; 
  margin-top: 15px; 
  font-size: 25px;
  
}

#Matches-section{
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color:white;
  line-height: 25px;
  color: #3680a3;
  text-align: center;
}

#Matches-congrats {
  text-align: center;
  color: #3680a3;
}

#Matches-none {
  text-align: center;
  color: #3680a3;
}

.Register-link {
  color: #61dafb;
}

/*
#messagingButton{
  background-color: #E0786C;
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 8px;
  border-radius: 0.2em;
  border: 1px white; 
  margin-bottom: 5px;
  width: 110px;
  height: 40px;
}
*/

#swipingButton{
  background-color: #C4C4C4;
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 8px;
  border-radius: 0.2em;
  margin-top: 5px;
}