* {
  /*all elements to inherit same font*/
  font-family: "Montserrat", sans-serif;
}

.header h1 {
  /*Questionnaire title*/
  text-align: center;
  margin: auto;
  font-weight: bolder;
  font-size: 50px;
  color: #e0786c;
}

.questionnaireBox {
  text-align: center;
}

input[type="radio"] {
  /*make radio buttons bigger by scaling the size*/
  transform: scale(2.5);
  margin-right: 20px;
}

.header h2 {
  /*let's get to know you*/
  font-weight: bold;
  font-size: 25px;
  color: grey;
}

.header h4 {
  /*please fill out the form*/
  font-weight: bold;
  font-size: 25px;
  color: #4dadb7;
}

.boxed {
  /*turqouise box section/background */
  background-color: #4dadb7;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  border-radius: 15px;
  color: white;
  padding: 6px;
}

.boxed p {
  text-align: center;
}

.Questions {
  font-size: 30px;
  font-weight: bold;
}
.submitButton {
  color: white;
  letter-spacing: 1px;
  background-color: #3680a3;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  width: 175px;
  text-align: center;
}

.submitButton:hover {
  color: white;
  letter-spacing: 1px;
  background-color: #3680a3;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  width: 175px;
  text-align: center;
}
.submitButton:focus {
  background-color: #3680a3;
  color: white;
  border: 3px solid;
  width: 240px;
  padding: 10px 35px;
  text-align: center;
  font-size: 20px;
  position: relative;
  margin: 1px 1px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px; /*added rounded corners to buttons*/
}
