* {
  /*all elements to inherit same font*/
  font-family: "Montserrat", sans-serif;
}

.SwipeProfile {
  text-align: center;
  margin: auto;
  position: relative;
}
ul {
  /*unordered list for navigation bar*/
  background-color: #f8dabb;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li {
  float: left; /*to get navigation bar items to slide next to each other*/
}

li a {
  text-align: center;
  padding: 14px 16px;
  display: block;
  color: black;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(102, 102, 102);
  /*color change when mouse hovers over the list item on navigation bar*/
}

.active {
  background-color: #f7dfc7;
}

.profileIntroSection {
  /*turquoise section that includes other info in smaller font*/
  background-color: #4dadb7;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  border-radius: 12px;
}

.button {
  width: 240px;
  color: white;
  padding: 10px 35px;
  text-align: center;
  font-size: 20px;
  position: relative;
  margin: 1px 1px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px; /*added rounded corners to buttons*/
}
.letsTalkButton {
  /*"yes, let's match" button */
  background-color: #e96a6a;
}

.notInterestedButton {
  /*"no, reject match" button*/
  background-color: #3680a3;
}

.pageTitle {
  font-size: 30px;
}

.letsTalkButton:hover {
  /*when user hovers over this button, color of button changes*/
  background-color: #e25959;
  color: white;
  border: 3px solid;
}

.letsTalkButton:focus {
  /*when user selects this button, color of button changes*/
  background-color: #e96a6a;
  color: white;
  border: 3px solid;
}

.notInterestedButton:hover {
  background-color: #22779e;
  color: white;
  border: 3px solid;
}

.notInterestedButton:focus {
  background-color: #3680a3;
  color: white;
  border: 3px solid;
}
